---
import { Icon } from "astro-icon";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import { orderPost, orderPostFinal } from "src/order";

let posts = await Astro.glob("./first-report/*.md");

let postsFinal = await Astro.glob("./final-report/*.md");

let sortPosts = (posts, sortOrder) =>
  posts.sort((prevPost, post) => {
    let prevPostUrl = prevPost.url.split("/").pop();
    let postUrl = post.url.split("/").pop();
    return sortOrder.indexOf(prevPostUrl) - sortOrder.indexOf(postUrl);
  });

posts = sortPosts(posts, orderPost);
postsFinal = sortPosts(postsFinal, orderPostFinal);

interface Member {
  name: string;
  link: string;
  description: string;
  github: string;
}

const teams: Member[] = [
  {
    name: "🦆 Eliott",
    link: "https://cri.epita.fr/users/eliott.flechtner/",
    description:
      "18 years of existence, probably currently talking to a rubber-duck. Coding stuff ig...?",
    github: "https://github.com/CapnDev-Git",
  },
  {
    name: "David",
    link: "https://cri.epita.fr/users/david-ortiz.calderon/",
    description: "Not so far from Bouchet.",
    github: "https://github.com/Davidca089",
  },
  {
    name: "💯 Raj",
    link: "https://cri.epita.fr/users/raj-sunil.mahajan-aka-mali/",
    description: "The GOAT.",
    github: "https://github.com/CaliberMan",
  },
  {
    name: "Titouan",
    link: "https://cri.epita.fr/users/titouan.verhille/",
    description: "Loving C gang for its reliability",
    github: "https://github.com/titouv",
  },
];
---

<BaseLayout>
  <Hero />
  <section class="overflow-hidden bg-gray-800 py-6 md:py-12">
    <div class="mx-4 max-w-[65ch] gap-8 sm:grid sm:grid-cols-2 md:mx-auto">
      <div class="">
        <div class="mx-auto max-w-xl pb-4 md:p-0">
          <Icon name="ph:users-four" width={48} height={48} />
          <h2 class="pb-2 text-3xl font-bold text-white md:text-4xl">
            The Team
          </h2>
          <p class="pb-4 text-white">
            ASM Lovers is composed of 4 members of the A1 class.
          </p>
        </div>
      </div>
      <ul class="flex list-inside flex-col gap-4">
        {
          teams.map((member) => (
            <li>
              <a
                rel="noopener noreferrer"
                target="_blank"
                href={member.github}
                class="pr-1 font-bold underline underline-offset-2"
              >
                {member.name}
              </a>
              <a>{member.description}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <section class="mb-25 overflow-hidden px-4">
    <div class="mx-auto max-w-[65ch] py-12">
      <div class="mx-auto">
        <div class="flex items-end justify-between">
          <div>
            <h2 class="inline text-3xl font-bold text-white">First Report</h2>
            <p class="inline text-sm slashed-zero">30/10/2022</p>
          </div>
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="/doc/rapport_1.pdf"
            class="rounded-sm bg-gray-50 px-2 py-1 font-semibold text-black hover:bg-gray-300"
            >PDF</a
          >
        </div>
        <ul class="mt-4 flex w-full flex-wrap gap-4">
          {
            posts.map((post) => (
              <li class="grow">
                <a
                  href={post.url}
                  class="block rounded bg-gray-700 p-2 text-center font-bold transition-all hover:bg-gray-500"
                >
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-32 overflow-hidden px-4">
    <div class="mx-auto max-w-[65ch] py-12">
      <div class="mx-auto">
        <div class="flex items-end justify-between">
          <div>
            <h2 class="inline text-3xl font-bold text-white">Final Report</h2>
            <p class="inline text-sm slashed-zero">11/12/2022</p>
          </div>
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="/doc/rapport_2.pdf"
            class="rounded-sm bg-gray-50 px-2 py-1 font-semibold text-black hover:bg-gray-300"
            >PDF</a
          >
        </div>
        <ul class="mt-4 flex w-full flex-wrap gap-4">
          {
            postsFinal.map((post) => (
              <li class="grow">
                <a
                  href={post.url}
                  class="block rounded bg-gray-700 p-2 text-center font-bold transition-all hover:bg-gray-500"
                >
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
