---
import { Icon } from "astro-icon";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import { orderPost, orderPostFinal } from "src/order";

let posts = await Astro.glob("./first-report/*.md");

let postsFinal = await Astro.glob("./final-report/*.md");

let sortPosts = (posts, sortOrder) =>
  posts.sort((prevPost, post) => {
    let prevPostUrl = prevPost.url.split("/").pop();
    let postUrl = post.url.split("/").pop();
    return sortOrder.indexOf(prevPostUrl) - sortOrder.indexOf(postUrl);
  });

posts = sortPosts(posts, orderPost);
postsFinal = sortPosts(postsFinal, orderPostFinal);

interface Member {
  name: string;
  link: string;
  description: string;
  github: string;
}

const teams: Member[] = [
  {
    name: "🦆 Eliott",
    link: "https://cri.epita.fr/users/eliott.flechtner/",
    description:
      "18 years of existence, probably currently talking to a rubber-duck. Coding stuff ig...?",
    github: "https://github.com/CapnDev-Git",
  },
  {
    name: "David",
    link: "https://cri.epita.fr/users/david-ortiz.calderon/",
    description: "Not so far from Bouchet.",
    github: "https://github.com/Davidca089",
  },
  {
    name: "💯 Raj",
    link: "https://cri.epita.fr/users/raj-sunil.mahajan-aka-mali/",
    description: "The GOAT.",
    github: "https://github.com/CaliberMan",
  },
  {
    name: "Titouan",
    link: "https://cri.epita.fr/users/titouan.verhille/",
    description: "Loving C gang for it reliability",
    github: "https://github.com/titouv",
  },
];
---

<BaseLayout>
  <Hero />
  <section class="overflow-hidden py-6 md:py-12 bg-gray-800">
    <div class="max-w-[65ch] mx-4 md:mx-auto sm:grid gap-8 sm:grid-cols-2">
      <div class="">
        <div class="mx-auto max-w-xl pb-4 md:p-0">
          <Icon name="ph:users-four" width={48} height={48} />
          <h2
            class="text-3xl md:text-4xl pb-2 font-bold text-gray-900 dark:text-white"
          >
            The Team
          </h2>
          <p class="pb-4 text-white">
            ASM Lovers is composed of 4 members of the A1 class.
          </p>
        </div>
      </div>
      <ul class="list-inside flex flex-col gap-4">
        {
          teams.map((member) => (
            <li>
              <a href={member.github} class="font-bold">
                {member.name} :{" "}
              </a>
              <a>{member.description}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <section class="overflow-hidden mb-25 px-4">
    <div class="max-w-[65ch] mx-auto py-12">
      <div class="mx-auto">
        <div class="flex items-end justify-between">
          <div>
            <h2 class="text-3xl inline font-bold text-gray-900 dark:text-white">
              First Report
            </h2>
            <p class="inline text-sm slashed-zero">30/10/2022</p>
          </div>
          <a
            href="/rapport_1.pdf"
            class="bg-gray-50 px-2 py-1 rounded-sm font-semibold text-black hover:bg-gray-300"
            >PDF</a
          >
        </div>
        <ul class="mt-4 flex flex-wrap w-full gap-4">
          {
            posts.map((post) => (
              <li class="grow">
                <a
                  href={post.url}
                  class="font-bold transition-all text-center hover:bg-gray-500 bg-gray-700 rounded p-2 block"
                >
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>

  <section class="overflow-hidden mb-32 px-4">
    <div class="max-w-[65ch] mx-auto py-12">
      <div class="mx-auto">
        <div class="flex items-end justify-between">
          <div>
            <h2 class="text-3xl inline font-bold text-gray-900 dark:text-white">
              Final Report
            </h2>
            <p class="inline text-sm slashed-zero">11/12/2022</p>
          </div>
          <a
            href="/rapport_2.pdf"
            class="bg-gray-50 px-2 py-1 rounded-sm font-semibold text-black hover:bg-gray-300"
            >PDF</a
          >
        </div>
        <ul class="mt-4 flex flex-wrap w-full gap-4">
          {
            postsFinal.map((post) => (
              <li class="grow">
                <a
                  href={post.url}
                  class="font-bold transition-all text-center hover:bg-gray-500 bg-gray-700 rounded p-2 block"
                >
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
